<div class="d-flex justify-content-between m-3">
    <div class="card shadow p-0 mb-0 bg-white rounded green-border-top" style="width:300px;">
        <div class="card-body">
            <div class="d-flex flex-row w-100 mt-2">
                <span class="w-75 mr-2">EON</span>
                <span class="ml-2">45,000</span>
            </div>
        </div>
    </div>
    <div class="card shadow p-0 mb-0 bg-white rounded green-border-top" style="width:300px;">
        <div class="card-body">
            <div class="d-flex flex-row w-100 mt-2">
                <span class="w-75 mr-2">BTC Value</span>
                <span class="ml-2">2.34</span>
            </div>
        </div>
    </div>
    <div class="card shadow p-0 mb-0 bg-white rounded green-border-top" style="width:300px;">
        <div class="card-body">

            <div class="d-flex flex-row w-100 mt-2">
                <span class="w-75 mr-2">$</span>
                <span class="ml-2">2,987</span>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="d-flex m-3">
        <div class="card shadow p-0 mb-0 bg-white rounded mr-3" style="width:392px;">
            <div class="card-body">
                <h5 class="card-title ex-card-title">Wallet Overview</h5>
                <div class="d-flex flex-row w-100 mt-2">
                    <span class="w-75 mr-2">EON</span>
                    <span class="ml-2">45,000</span>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <hr />
                <div class="d-flex flex-row w-100 mt-2">
                    <span class="w-75 mr-2">BTC</span>
                    <span class="ml-2">2.34</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div>

        </div>
        <div class="card shadow p-0 mb-0 bg-white rounded" style="width:100%">
            <div class="card-top-nav">
                <tabset>
                    <tab heading="Transaction History" id="tab1">
                        <app-transaction-history></app-transaction-history>
                    </tab>
                    <tab heading="Send">Send content 1</tab>
                    <tab heading="Recieve">Recieve content 2</tab>
                    <tab heading="Wallet Settings">
                        <app-account-settings>
                        </app-account-settings>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>