.modal-content{
    background-color:#393C41;
    border:none;
    color:white;
    border-radius: 0;
}

.close{
    color:white !important;
}

.modal-header{
    background-color:#008DB5;
    border:none;
   
}

.modal-footer{
    border:none;
}


button.close{
    color:rgb(19, 16, 16);
}

.btn-primary{
    background-color:#353B40
}
