

button{
	background-color:transparent;
	padding:0 !important;
    margin:0!important;
}

button:hover, button:active, button:focus {
  color: black !important;
  background-color: #0091d9 !important;
  border-color: #494F57 !important;
  box-shadow: none!important;
  
}

.services-inner {
border: 2px solid orange;

}

.our-services-text {
overflow: hidden;
padding: 28px  20px 25px;
}
.our-services-text h4 {
color: #222222;
font-size: 18px;
font-weight: 700;
letter-spacing: 1px;
margin-bottom: 8px;
padding-bottom: 10px;
position: relative;
text-transform: uppercase;
}
.our-services-text h4::before {
background: #ec6d48 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 1px;
position: absolute;
width: 35px;
}

.our-services-text p {
margin-bottom: 0;
}
p {
font-size: 14px;
font-weight: 400;
line-height: 26px;
color: white;
margin-bottom: 15px;
}

.alert{
    background:#202225;
    padding:20px;
    border-radius:3px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    color:#b3b8ba;
    justify-content:center;
    align-items:center;
    position:relative;
}

.alert strong{
    display:block;
    font-weight:normal;
    color:#e3eaed;
    margin-bottom:5px;
    flex-shrink:0;  
}

.alert span{
    margin-bottom:10px;
    flex-shrink:2;
    text-align:center;
}


