<div class="alert red">
  <span>
    <strong>Network Selection</strong>
    Please select which network you want to configure for the wallet.
  </span>
</div>
<div class="d-flex justify-content-center"><button type="button" class="btn" (click)="setNetwork(1)">
    <div class="our-services-wrapper">
      <div class="services-inner">
        <div class="our-services-text">
          <h4> <i class="fab fa-codepen" src="" alt=""></i>mainnet</h4>
          <p>For carrying out realworld transactions</p>
        </div>
      </div>
    </div>
  </button>
  <button type="button" class="btn" (click)="setNetwork(2)">
      <div class="our-services-wrapper">
        <div class="services-inner">
          <div class="our-services-text">
            <h4> <i class="fab fa-codepen" src="" alt=""></i>testnet</h4>
            <p>For carrying out testing transactions</p>
          </div>
        </div>
      </div>
    </button>
</div>
