<div class="w-100 h-100 bg-white" style="position: absolute; top:0; z-index: 100000000;">
  <div class="page-body" style="font-family: 'Roboto', sans-serif;">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
      <div class="d-flex flex-row w-100 justify-content-center" style="position: relative;">
        <i class="fas fa-exclamation-triangle warning-icon"></i>
        <div class="card shadow rounded border border-warning" style="width: 25rem; height:400px;">
          <div class="d-flex flex-row w-100  justify-content-center border-bottom align-items-center" style="height:200px;">
            <h2>Requires Activation</h2>
          </div>
          <div class="d-flex align-items-start flex-column w-100 h-100 p-3">
            <div class="d-flex flex-row justify-content-center align-items-center w-100">
              <div>{{wallet.accountdetails.accountid}}</div>
            </div>
            <hr />
            <div class="d-flex flex-row w-100 h-100 justify-content-center align-items-center">
              <div class="d-flex flex-row w-100 h-100 justify-content-center align-items-center">Public Key:</div>

            </div>
            <span class="w-100 mt-3">{{wallet.accountdetails.publickey}}</span>
            <div class="d-flex flex-row w-100 align-items-end h-100 justify-content-center">
              <a target="_blank" href="https://testnet.eontechnology.org/#/">Activate account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>