<div class="alert red">
  <span>
    <strong>Account Setup</strong>
<p>This wallet protects your assets with a password to salt the private key. You must remember this password as there is no way it can be recovered! Think of it as a key to your digital safe - it protects your digital assets if someone gains access to your machine. </p><p>Your assets may be at risk if you share these details.
</p>  </span>
</div>
<hr />
<div class="col-10">
  <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="next(accountDetailsForm.value)">
    <div class="form-group row">
      <label for="account-name" class="col-sm-3 col-form-label col-form-label-sm">Account Name</label>
      <div class="col-sm-5">
        <input   class="form-control form-control-sm" placeholder="Account name" formControlName="accountName">
        <div *ngFor="let validation of account_validation_messages.accountName">
          <small style="color:orange;" *ngIf="accountDetailsForm.get('accountName').hasError(validation.type) && (accountDetailsForm.get('accountName').dirty || accountDetailsForm.get('accountName').touched)"
            class="form-text ">
            {{validation.message}}
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-3 col-form-label col-form-label-sm">Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control form-control-sm" placeholder="password" formControlName="password" name="password" >
        <div *ngFor="let validation of account_validation_messages.password">
            <small style="color:orange;" class="error-message" *ngIf="accountDetailsForm.get('password').hasError(validation.type) && (accountDetailsForm.get('password').dirty || accountDetailsForm.get('password').touched)">{{validation.message}}</small>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-8">
        <button type="submit" class="btn btn-primary float-right btn-sm" [disabled]="!accountDetailsForm.valid" >Next</button>
      </div>
    </div>
  </form>
</div>