

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

/* fixed and fluid only on sm and up */
@media (min-width: 576px) {
    .fixed {
        flex: 0 0 200px;
        min-height: 100vh;
    }
    .col .fluid {
       min-height: 100vh;
    }
}

.flex-grow {
   flex:1;
}
.shadow{
 -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 1);;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 1);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 1 ) ;
}