<div class="container">

  <div class="alert blue">
    <span>
      <strong>Application Setup</strong>
      We've noticed that this is the first time you're using this application. Please follow the following steps in order to setup
      the wallet correctly.
    </span>

  </div>

  <div class="card">
    <div class="card-header" style="height:100px;">

      <div class="form-bootstrapWizard">
        <ul class="bootstrapWizard form-wizard">
          <li class="active" data-target="#step1">
            <a href="#tab1" data-toggle="tab" class="active"> <span class="step">1</span> <span class="title"><strong style="color:orange">Network
                  Selection
                </strong></span> </a>
          </li>
          <li data-target="#step2" class="">
            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Account Setup</span> </a>
          </li>
          <li data-target="#step3" class="">
            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Protection</span> </a>
          </li>
          <li data-target="#step4">
            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Summary</span> </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

    </div>
    <div class="card-body">

      <div class="alert red">
        <span>
          <strong>Network Selection</strong>
          Please select which network you want to configure for the wallet.
        </span>

      </div>
      
      <div class="d-flex justify-content-center"><button type="button" class="btn" (click)="mainnet()">
          <div class="our-services-wrapper">
            <div class="services-inner">
              <div class="our-services-text">
                <h4> <i class="fab fa-codepen" src="" alt=""></i>mainnet</h4>
                <p>For carrying out realworld transactions</p>
              </div>
            </div>
          </div>
        </button>
        
        <button type="button" class="btn" (click)="testnet()">
            <div class="our-services-wrapper">
              <div class="services-inner">
                <div class="our-services-text">
                  <h4> <i class="fab fa-codepen" src="" alt=""></i>testnet</h4>
                  <p>For carrying out testing transactions</p>
                </div>
              </div>
            </div>
          </button>
      </div>
     
    </div>
  </div>
</div>