<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert blue">
    <span>
      <strong>Application Setup</strong>
      We've noticed that this is the first time you're using this application. Please follow the following steps in
      order to setup
      the wallet correctly.
    </span>

  </div>
  <div class="form-bootstrapWizard mb-5 mt-5">
    <ul class="bootstrapWizard form-wizard">
      <li [ngClass]="stepPointer==0 ? 'active' : ''" data-target="#step1">
        <span class="step">1</span> <span [ngClass]="stepPointer==0 ? 'title active' : 'title'">Network
          Selection
        </span>
      </li>
      <li [ngClass]="stepPointer==1 ? 'active' : ''" data-target="#step2" class="">
        <span class="step">2</span>
        <span [ngClass]="stepPointer==1 ? 'title active' : 'title'">Account Setup</span>
      </li>
      <li data-target="#step3" [ngClass]="stepPointer==2 ? 'active' : ''">
        <span class="step">3</span>
        <span [ngClass]="stepPointer==2 ? 'title active' : 'title'">Protection</span>
      </li>
      <li data-target="#step4" [ngClass]="stepPointer==3 ? 'active' : ''">
        <span class="step">4</span>
        <span [ngClass]="stepPointer==3 ? 'title active' : 'title'">Summary</span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div>
    <ng-template #aws></ng-template>
  </div>
</div>
