
$body-color: #111;
$enable-rounded:false;

$theme-colors: (
  "danger": #ff4136
);
@import url('https://fonts.googleapis.com/css?family=Montserrat');


@import "../node_modules/bootstrap-scss/bootstrap.scss";

@media only screen and (min-width: 991px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right:0;

    ul {
      padding:8px;
    }
  }

  .nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 30px;
    border-radius: 0;
  }
}


* {
  font-family: 'Montserrat', sans-serif;
}