<div class="card text-white  mb-3">
  <div class="card-header">Summary</div>
  <div class="card-body">
    <h4 class="card-title"><i class="fas fa-check" style="color:green;"></i> Your wallet is now ready</h4>
    <p class="card-text">The Exscudo wallet has now been configured. Please see below for important details.</p>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Account Name: {{name}}</li>
      <li class="list-group-item">    Public Address: {{public}}</li>
    
    </ul>
   

 
  </div>
</div>
<button type="button"  class="float-right btn btn-success btn-sm">Get Started</button>
