<div class="alert alert-warning rounded-0" role="alert">
  This information here is considered private and should be kept secure. Sharing of this information may result in
  the
  loss of your funds.
</div>

<div class="card m-2 ">
  <div class="card-body">
    <h5 class="card-title ex-card-title">{{Keys.WalletName}} - ({{Keys.AccountId}})</h5>
    <p class="card-text">Public Key</p>
    <p class="card-text">{{Keys.PublicKey}}</p>


    <p class="card-text">Private Key</p>
    <p class="card-text">{{Keys.PrivateKey}}</p>
  </div>
</div>