<div class="alert red">
  <span>
    <strong>Account Setup</strong>
    In order to use the network you need to setup a new account, or import an existing account. If you're importing an existing account you need to know the credentials associated.
  </span>

</div>

<div class="d-flex justify-content-center">
  <div style="margin:10px;">
    <button type="button" class="btn btn-danger btn-sm" disabled="disabled">
      Load existing account
       </button>
      </div>
      <div style="margin:10px;">
  <button type="button" class="btn btn-danger btn-sm" (click)="generateNewKey()">
 Generate New Account
</button>
</div>
</div>