.app-header-bar {
    height: 60px;
    z-index: 10;
  }
  
.menu-panel.position-absolute {
  left: 0;
  top: 60;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3) !important;
  height: calc(100% - 60px);
  z-index: 970;
}

.menu-panel.app-header-bar {
  z-index: 980;
}


.backdrop {
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 60;
    height: calc(100% - 60px);
    z-index: 90;
  }
