<div class="h-100">
  <div class="alert alert-warning">
    <p>To create an account please provide a name and a password.</p>
    <p>Note: It's important that you keep this password secure, if you loose this password the account will not be
      recoverable.</p>
  </div>
  <div [formGroup]="meterReadingForm">
    <div class="form-group row">
      <label for="account-name" class="col-sm-12 col-form-label col-form-label-sm">Account Name</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" placeholder="Account name" formControlName="accountName">

      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-12 col-form-label col-form-label-sm">Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control form-control-sm" placeholder="password" formControlName="password"
          name="password">
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-default w-100 float-right" (click)="createAccount($event)">Create</button>
</div>